<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ican.mapper.DocMapper">

    <!-- 前台文档列表：分页 + 可按条件排序 -->
    <select id="getDocList" resultType="com.ican.entity.Doc">
        SELECT id,
        title,
        category_id,
        description,
        content,
        lead_author,
        version,
        views,
        edit_count,
        is_editing,
        last_update_date,
        tags,
        collaborators,
        comments
        FROM t_doc
        <where>
            <if test="condition.keyword != null and condition.keyword != ''">
                AND (title LIKE CONCAT('%', #{condition.keyword}, '%')
                OR description LIKE CONCAT('%', #{condition.keyword}, '%'))
            </if>

            <if test="condition.status == 'editing'">
                AND is_editing = 1
            </if>
            <if test="condition.status == 'finished'">
                AND is_editing = 0
            </if>
        </where>
        LIMIT #{limit}, #{size}
    </select>

    <!-- 后台管理文档列表：分页 + 条件 -->
    <select id="getAdminDocList" resultType="com.ican.entity.Doc">
        SELECT id,
               title,
               category_id,
               description,
               content,
               lead_author,
               version,
               edit_count,
               status,
               reject_reason,
               last_update_date,
               tags,
               collaborators,
               comments
        FROM t_doc
    </select>

    <!-- 根据标题或摘要搜索 -->
    <select id="searchDoc" resultType="com.ican.entity.Doc">
        SELECT id,
               title,
               category_id,
               description,
               content,
               lead_author,
               version,
               views,
               edit_count,
               is_editing,
               status,
               last_update_date,
               tags,
               collaborators,
               comments
        FROM t_doc
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
           OR description LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>
